extends layout

block content
	div(class="navbar navbar-default")
		div.container
			div.navbar-header
				button(class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse-1", aria-expanded="false")
					span(class="sr-only") Toggle Navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a#brandBtn(class="navbar-brand", href="/") Jeremy Levy
			div(class="collapse navbar-collapse", id="navbar-collapse-1")
				ul(class="nav navbar-nav")
					li
						a(class="btn-nav", href="/") Home 
							//span(class="sr-only") (current)
					li
						a(class="btn-nav", href="/movies") Projects
					li.active
						a(class="btn-nav", href="/favorites") Favorites
					li
						a(class="btn-nav", href="/contact") Contact Me
					li
						a(class="btn-nav", href="/resume") Resume
				ul(class="nav navbar-nav navbar-right")
					li
						div.nav-bar-login
							button(a href="#", class="btn btn-secondary btn-lg", data-toggle="modal", data-target="#learnModal") ?
							//button(href="#" id="", class="btn btn-primary btn-lg") Login
				div#learnModal(class="modal fade", role="dialog")
					div.modal-dialog
						div.modal-content
							div.modal-header
								button(type="button", class="close", data-dismiss="modal")
									span(class="glyphicon glyphicon-remove-circle" aria-hidden="true", style="color:red")
								h4(class="modal-title", style="color:#ff3300;") Wondering what in the world this is?
							div.modal-body
								p This is a basic implementation of a RESTful api using node.js, Express and Mongo DB
								p What does all that mean?
								p.
									In short, the form on this page will take input from the user, thats you, then using an ajax call, will send, whatever you entered, to the nodejs server which will in turn send that to the database to be saved. Forevvverrrr...
								p If you're intersted to know more send me an email jlevyd@gmail.com
							div.modal-footer
								a(class="btn btn-default" href="/contact")
									span(class="glyphicon glyphicon-envelope", aria-hidden="true")
			div.row
				div.col-md-6
					h2 Search for your favorite movie
					p Enter a movie title below
					div#formAlert(class="alert alert-danger", role="alert")
						span(class="glyphicon glyphicon-exclamation-sign", aria-hidden="true")
						span#alertTxt(class="sr-only") Error: 
						|&nbsp;Please Enter A Movie title
			div.row
				div.col-lg-6
					div#formAddMovie(class="form-group-lg")
						div(class="form-group has-feedback")
							label(class="control-label", for="inputMovieTitle") Title:
							input#inputFavMovieTitle(type="name", class="form-control", placeholder="Title", aria-describedby="inputTitleStatus", name="title")
							span(id="form-feedback-title", class="glyphicon glyphicon-remove form-control-feedback", aria-hidden="true")
							span(id="inputTitleStatus", class="sr-only")
						div.form-group
							button#favBtnSubmit(class="btn btn-primary btn-lg") submit
			div.row
				div.col-lg-6
					p#resTitle
					p#resPlot
					img#resPoster(src="")