extends layout

block content
	link(rel='stylesheet', href='/stylesheets/cover.css')
	div.site-wrapper
		div.site-wrapper-inner
			div.cover-container
				div(class="masthead clearfix")
					div.inner
						h3.masthead-brand Jeremy Levy
						nav
							ul(class="nav masthead-nav")
								li.active
									a(href="/") Home
								li
									a(href="/movies") Projects
								li
									a(href="/favorites") Favorites
								li
									a(href="/contact") Contact Me
								li
									a(href="/resume") Resume
				div(class="inner cover")
					h1.cover-heading I'm Jeremy
					p.lead I'm a web developer from San Francisco,
					p.lead Check out some of the projects I'm working on.
						//a(class="btn btn-primary btn-lg") GO!
			//- div(class="row", style="width:100%; margin-left:0px;")
			//- 	div.col-md-4
			//- 		p TESTING
			//- 	div.col-md-4
			//- 		p TESTING
			//- 	div.col-md-4
			//- 		p TESTING
			//- div.mastfoot
			//- 	div.inner
			//- 		p Something Goes here
