extends layout

block content
	div.container
		div.page-header
			h1 Movies Page
			a(href="/", role="button" class="btn btn-secondary btn-sm") Home 
			button(class="btn btn-secondary btn-sm") Next
		div.row
			div.col-md-8
				table(class="table table-hover")
					thead
						tr
							th Titles
							th Year
							th Genre
							th(style="text-align:right;") Remove
								each movie, i in movielist
									tr
										td
											a(href="#" id="#{movie.id}")= movie.title
										td 
											p(id="" )= movie.year
										td
											p(id="")= movie.genre
										td
											div.hover-btn
											a#deleteMoive(href="/movies/#{movie.id}", type="button", data-dismiss="alert", class="close")
												span(aria-hidden="true", style="color:red;") x
												span(class="sr-only") Close
			div.col-md-4
				form#formAddMoive(name="addmovie",method="post",action="/addMovie")
					div.form-group
						label(for="text") Title:
						br
						input#inputMovieTitle(type="text", placeholder="title", name="title")
						br
						label(for="number") Year:
						br 
						input#inputMovieYear(type="text", placeholder="year", name="year")
						br
						label(for="text") Genre:
						br
						input#inputMovieGenre(type="text", placeholder="genre", name="genre")
						br
						button#btnSubmit(type="submit", class="btn btn-primary btn-lg") submit
		div.row
			div.col-md-4
				h1 Try it out!
				p Add a new movie using the form below

				script.
					$('li').on('click', '.removeBtn', function(e) {
						var x = $(this).closest('a');
						x.remove();
					});