extends layout

block content
	div(class="navbar navbar-default")
		div.container
			div.navbar-header
				button(a href="#", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse-1", aria-expanded="false")
					span(class="sr-only") Toggle Navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				//- a#brandBtn(class="navbar-brand", href="/") Jeremy Levy
			div(class="collapse navbar-collapse", id="navbar-collapse-1")
				ul(class="nav navbar-nav")
					li
						a(class="btn-nav", href="/") Home 
							//span(class="sr-only") (current)
					li.active
						a(class="btn-nav", href="movies") Projects
					li
						a(class="btn-nav", href="/favorites") Favorites
					li
						a(class="btn-nav", href="/contact") Contact Me
					li
						a(class="btn-nav", href="/resume") Resume
				ul(class="nav navbar-nav navbar-right")
					li
						div.nav-bar-login
							button(class="btn btn-secondary btn-lg", data-toggle="modal", data-target="#learnModal") ?
							//button(href="#" id="", class="btn btn-primary btn-lg") Login
				div#learnModal(class="modal fade", role="dialog")
					div.modal-dialog
						div.modal-content
							div.modal-header
								button(a href="#", type="button", class="close", data-dismiss="modal")
									span(class="glyphicon glyphicon-remove-circle" aria-hidden="true", style="color:red")
								h4(class="modal-title", style="color:#ff3300;") Wondering what in the world this is?
							div.modal-body
								p This is a basic implementation of a RESTful api using node.js, Express and Mongo DB
								p What does all that mean?
								p.
									In short, the form on this page will take input from the user, thats you, then using an ajax call, will send, whatever you entered, to the nodejs server which will in turn send that to the database to be saved. Forevvverrrr...
								p If you would like to know more send me an email
							div.modal-footer
								a(class="btn btn-default" href="/contact")
									span(class="glyphicon glyphicon-envelope", aria-hidden="true")
			div.row
				div.col-md-6
					h2 Try it out!
					p Add a new movie using the form below
					div#formAlert(class="alert alert-danger", role="alert")
						span(class="glyphicon glyphicon-exclamation-sign", aria-hidden="true")
						span#alertTxt(class="sr-only") Error: 
						|&nbsp;Enter A valid title
			div.row
				div.col-lg-4
					form#formAddMoive(class="form-group-lg", name="addmovie")
						div(class="form-group has-feedback")
							//- label(class="control-label", for="inputMovieTitle") Title:
							input#inputMovieTitle(type="name", class="form-control", placeholder="Title", aria-describedby="inputTitleStatus", name="title")
							span(id="form-feedback-title", class="glyphicon glyphicon-remove form-control-feedback", aria-hidden="true")
							span(id="inputTitleStatus", class="sr-only")
						div(class="form-group has-feedback")
							//- label(class="control-label", for="inputMovieYear") Year:
							input#inputMovieYear(type="text", class="form-control", placeholder="Year", aria-describedby="inputYearStatus", name="year")
							span(id="form-feedback-year", class="glyphicon glyphicon-remove form-control-feedback", aria-hidden="true")
							span(id="inputYearStatus", class="sr-only")
						div(class="form-group has-feedback")
							//- label(class="control-label", for="inputMovieGenre") Genre:
							input#inputMovieGenre(type="text", class="form-control", placeholder="Genre", aria-describedby="inputGenreStatus", name="genre")
							span(id="form-feedback-genre", class="glyphicon glyphicon-remove form-control-feedback", aria-hidden="true")
							span(id="inputGenreStatus", class="sr-only")
						div.form-group
							button#btnSubmit(class="btn btn-primary btn-lg") submit
				div.col-lg-4
					h3(style="margin-top:0px;") Title:
					p Pulp Fiction
					h3 Genre:
					p Action
					h3 Rating:
					p 80%
				div.col-lg-4
					img(src="#")

			hr
			div.row
				div.col-md-8
					h2 Movie Table
					table#movieTable(class="table table-hover")
						thead
							tr
								th Titles
								th Year
								th Genre
								th(style="text-align:right;") Remove
									tbody#movielist
									each movie, i in movielist
										tr
											td
												a(href="#" id="#{movie.id}")= movie.title
											td 
												p(id="yearBox" )= movie.year
											td
												p(id="")= movie.genre
											td
												div.hover-btn
												a#deleteMoive(href"#", rel="#{movie.id}" type="button", class="close")
													span#trash(class="glyphicon glyphicon-trash", aria-hidden="true", style="color:red;")
													span(class="sr-only") Close