//Projects Page
extends layout

block content
	div(class="navbar navbar-default")
		div.container
			div.navbar-header
				button(class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse-1", aria-expanded="false")
					span(class="sr-only") Toggle Navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a#brandBtn(class="navbar-brand", href="/")
			div(class="collapse navbar-collapse", id="navbar-collapse-1")
				ul(class="nav navbar-nav")
					li
						a(class="btn-nav", href="/") Home 
							//span(class="sr-only") (current)
					li
						a(class="btn-nav", href="movies") Projects
					li.active
						a(class="btn-nav", href="favorites") Favorties
					li
						a(class="btn-nav", href="resume") Resume
				ul(class="nav navbar-nav navbar-right")
					li
						div.nav-bar-login
							button(class="btn btn-secondary btn-lg", data-toggle="modal", data-target="#learnModal") ?
							//button(href="#" id="", class="btn btn-primary btn-lg") Login
				div#learnModal(class="modal fade", role="dialog")
					div.modal-dialog
						div.modal-content
							div.modal-header
								button(type="button", class="close", data-dismiss="modal")
									span(class="glyphicon glyphicon-remove-circle" aria-hidden="true", style="color:red")
								h4(class="modal-title", style="color:#ff3300;") Wondering what in the world this is?
							div.modal-body
								p This is a basic implementation of a RESTful api using node.js, Express and Mongo DB
								p What does all that mean?
								p.
									In short, the form on this page will take input from the user, thats you, then using an ajax call, will send, whatever you entered, to the nodejs server which will in turn send that to the database to be saved. Forevvverrrr...
								p If you would like to know more, send me an email
							div.modal-footer
								a(class="btn btn-default" href="/contact")
									span(class="glyphicon glyphicon-envelope", aria-hidden="true")
	div.container
		div.row
			div.col-md-6
				a(class="btn btn-primary btn-lg" href="/movies") Movies Project
			div.col-md-6
				a(class="btn btn-primary btn-lg" href="/movies") Movies Project
			