html,
body {
  margin: 0px;
  height: 100%;
  background-color: #fff;
}

.my-face img{
  margin-top: 50px;
  width: 200px;
  height: 200px;
}

.cover-heading{
  font-family: 'Oleo Script', cursive;
  color:#ff3300;
}

.cover-heading, p{
  color:#ff3300;
}

hr.name-line {
  border-top: 2px solid #00b8ff;
;
  width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.masthead-nav > li {
  display: inline-block;

}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  /*font-weight: bold;*/
  color:  #ff3300; /* IE8 proofing */
 /* color: rgba(255,255,255,.75);*/
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
  border-bottom: 2px solid #00b8ff;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #3d3e39;
  border-bottom: 2px solid #00b8ff;;
  /*border-bottom-color: #fff;*/
}

.col-centered{
  float: none;
  margin: 0 auto;
  text-align:center;
}

#top-nav li{
  list-style-type:none;
  display:inline;
  text-decoration:none;
  
}

ul {
  padding-left:0px;
  text-align:center;
}

/*
 * Footer
 */
footer.row {
  position:absolute;
  bottom:0px;
  background: #00b8ff;
  width: 100%;
  margin: 0px;
}
/*----------------- Social Buttons ------------------------*/
.social-buttons-bar a {
height: 50px;
width: 50px;
padding: 5px;
background: none;
margin: 5px;
}
.social-buttons-bar a>span{
  padding-top: 8px;
}

.owner-container {
  /*position:fixed;*/
  margin-bottom: 0px; 
 /* right:0;
  float: right;*/
}

