.row {
    position: relative;
  }

  .hover-btn {
     position: absolute;
     right: 15px;
  }
/*
     display: none;
 */
  .row:hover .hover-btn {
     display: block;
  }

  #btnSubmit {
  	margin-top:5px;
  }

  label {
  	margin-top:5px;
  }

  .nav-bar a {
  	margin-right: 10px;
  }

  .nav-bar-login button {
  	margin-right: 10px;
  }