/* Global Styles for j-levy.com - Jeremy Levy 2016 */

/*-------------------Hide the Error feedback on pageload-------------------------*/
#formAlert, #form-feedback-title, #form-feedback-year, #form-feedback-genre, #form-feedback-name, #form-feedback-email, #form-feedback-message {
  display: none;
}

 body, html, /*.container .resume-container iframe */ {
         /*font-family: Consolas, monaco, monospace;*/
         font-family: verdana;
        width: 100%;
        position: relative;
        min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  height: 100%;
  margin-bottom: 60px;
  font-family: 'Raleway', sans-serif;
   }

.row {
   /* margin-top:50px;*/
  }

  input {
  	margin-right:2px;
  }

.nav>li>a {padding-top:15px; padding-right:0px; padding-left: 0px;}
a.btn-nav { height:44px; width:auto; margin-left: 20px;}
a.btn-nav:hover { height:44px;  }

.nav-bar a {
	margin-right: 10px;
  height: 10px;
  
}

.nav-bar-login button {
	margin-right: 10px;
  background-color: transparent;
  border-color: #00b8ff;
  border: 2px solid #00b8ff;
  color: #00b8ff !important;
}

/*----------------- Start Buttons ------------------------*/

#downloadBtn { 
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
}

#favBtn,#likeBtn, #learnMoreBtn { 
font-size: 20px;
/*float: right;*/
  /*position: fixed; */
  bottom: 20px; 
  right: 20px; 
  background-color: transparent;
  color: #00b8ff !important;
}

.navbar-default .navbar-brand {
  font-family: 'Oleo Script', cursive;
  color: #ff3300 !important;
  font-size: 30px;
  background-color: #fffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  line-height: 30px;
  margin-left: 5px;
}

.btn, #landingBtn1, #landingBtn2, #btnSubmit, #downloadBtn, #emailBtn, #favBtnSubmit {
  font-family: Verdana;
  color: #ffffff !important;
  font-size: 20px;
  background: #ff3300;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  line-height: 30px;
  border:none;
}

.btn:hover, #landingBtn1:hover, #landingBtn2:hover, #btnSubmit:hover, #emailBtn:hover, #favBtnSubmit:hover,#learnMoreBtn:hover, #favBtn:hover, #likeBtn:hover{
  background: #ccff00;
  text-decoration: none;
  /*color:#00b8ff !important;*/
  color:#ff3300 !important;
}}

/*----------------- End Buttons ------------------------*/

/*----------------- Start Nav bar ------------------------*/
.btn-nav {
/*  color: black !important;*/
height: 10px !important;
padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
}

ul.nav.navbar-nav {
  margin-right:100px;
}

.navbar-default .navbar-nav>li>a {
  color:#ff3300;  
}

/*-------------------Learn More Button------------------------*/


.navbar-default .navbar-nav>.active>a {
  border-bottom: solid #00b8ff 2px;
  text-decoration: none;
  background-color: transparent;
  width: auto;
}
.navbar-default .navbar-nav>.active>a:hover {
  border-bottom: solid #00b8ff 2px;
  text-decoration: none;
  background-color: transparent;

}

.btn-nav:hover {
/*color: black !important;*/
  border-bottom: solid #00b8ff 2px;
  text-decoration: none;
}

.demo-modal {
  float: right;
}

/*----------------- End Nav Bar ------------------------*/

#favTable-container {
  height:500px;
  overflow-y: scroll;
}

.likeBtnBar {
  display: none;
/*
  position: relative;
  width: 50px;
  margin: 0px;*/
}

#posterDiv {
  display:none;

}
#likeBtnBar {
  display:none;
}
#likeBtnBar:hover {
  display:none;
}

.featureHeadings {
  display: none;

  }

  .featureHeadings > h3{
    /*margin:0px;*/
  }

.save {
  display: none;
}

.edit {
  
}
#plotText {
  font-size: 14px;
  font-style: normal;
}
#moreDetailsBtn {
  display: none;
}

#resPlot {
  display: none;
}

span.close {
  flaot:none !important;
}


.bridge-picture{
   width: 100%; /* or any custom size */
    height: 100%; 
}



/*----------------- Start Footer ------------------------*/

.footer {
  position: absolute;
  width: 100%;
  bottom:0px;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #00b8ff;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.26);
}

@media (min-width: 768px) {
  .footer {
    bottom:none;
  }
}

.footer-text {
  padding-top: 10px;
  margin-top: 10px;
  opacity: .5;
  color:white;
}

.social-buttons-bar a {
height: 50px;
width: 50px;
padding: 5px;
background: none;
margin: 5px;
}
.social-buttons-bar a>span{
  padding-top: 8px;
}


